body {
  text-align: center;
  background-color: #faf0ff;
  color: #1d1e33;
  font-family: "Twinkle Star", cursive;
  max-width: 1200px;
  width: 90%;
  margin: 24px auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-around;
}

.team-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 24px;
}

.starlightimg {
  background-image: url("./img/starlight-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
  overflow: hidden;
  border-radius: 24px;
}

.tuxedoscoreimg {
  background-image: url("./img/tuxedo-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
  overflow: hidden;
  border-radius: 24px;
}

.score {
  height: 100%;
  font-size: 120px;
  color: #ffffff;
  justify-content: center;
  align-content: center;
  background-color: #1d1e33;
  opacity: 80%;
}

.foul-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  font-family: "Twinkle Star", cursive;
  font-size: 20px;
}

.scorebuttons {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

h1 {
  display: inline;
  font-size: 24px;
  font-weight: normal;
  line-height: 20px;
}

h3 {
  display: inline;
  font-size: 40px;
  font-weight: normal;
  line-height: 24px;
}

.foulscore {
  font-size: 32px;
}

button {
  font-size: 24px;
  height: fit-content;
  width: 33%;
  background-color: #f3d8ff;
  border: 1.5px solid #3a3c66;
  border-radius: 999px;
  color: #3a3c66;
  padding: 12px;
  font-family: "Twinkle Star", cursive;
}

button:hover {
  background-color: #b7c9f6;
}

.foulbutton:hover {
  background-color: #e4ebfb;
  border: 1.5px solid #b7c9f6;
}

.foulbutton {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  border: 1.5px solid #faf0ff;
  margin: 0;
  padding: 0;
}

.newGameBtn {
  font-size: 20px;
  width: fit-content;
  background-color: #f3d8ff;
  border: 1.5px solid #3a3c66;
  color: #3a3c66;
  border-radius: 999px;
  padding-left: 12px;
  padding-right: 12px;
}

.sailormoon {
  width: 120px;
}

@media screen and (max-width: 900px) {
  body {
    width: max-content;
    margin: auto;
    padding: 8px 8px;
  }
  .header {
    min-width: 380px;
  }
  .container {
    flex-direction: column;
    margin-top: 16px;
  }
  .team-container {
    margin: 0px;
  }
  .sailormoon {
    width: 100px;
  }
}
